* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik Mono One", sans-serif;
}

/* Navigazione */
nav {
  z-index: 1;
  position: fixed;
  top: 5%;
  right: 1%;
}

nav a {
  height: 30px;
  width: 30px;
  background-color: white;
  text-decoration: none;
  border-radius: 50%;
  padding: 15px 20px; /* Top/Bot - Right/Left */
  color: black;
}

li {
  display: inline;
  margin: 10px;
}

/* Scarpe */
#scarpa_1,
#scarpa_2,
#scarpa_3 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Colori background */
#scarpa_1 {
  background-color: red;
}

#scarpa_2 {
  background-color: green;
}

#scarpa_3 {
  background-color: yellow;
}

/* Posizione immagini */
img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Proprietà testo */
.text {
  position: absolute;
  font-size: 50px;
  width: 800px;
  text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Colori per il testo */
.yellow {
  color: yellow;
}

.green {
  color: green;
}
